/* ********** Fonts Settings ********** */
@font-face {
    font-family: "Raleway";
    src: url(../assets//font//Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../assets/font/raleway/raleway-italic-variablefont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* ********** Custom Properties ********** */
:root {
    --primary-font: Raleway, sans-serif;
    --secondary-font: Montserrat, sans-serif;
}

/* ********** Reset ********** */
html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a,
a:visited {
    text-decoration: none !important;
}

body {
    margin: 0;
    font-family: var(--secondary-font) !important;
    position:relative;
}

b,
strong {
    font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font) !important;
}

img {
    height: auto;
    border-style: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main {
    width: 100%;
    height: 100vh;
    transition: all 0.35s ease-in-out;
    margin: auto;
    background-color: #f5f5f5;
}

.content-container {
    width: 100%;
    height: 92.8vh;
    max-width: 1200px;
    padding-top: 3rem;
    margin: auto;
    overflow: auto;
    scrollbar-width: thin
}

.content-container::-webkit-scrollbar {
    width: 8px; /* Tamaño normal de la barra de desplazamiento */
    opacity: 0; /* Inicialmente oculta */
    transition: opacity 0.3s ease; /* Efecto de desvanecimiento */
}

.content-container:hover::-webkit-scrollbar {
    opacity: 1; /* Muestra la barra al pasar el mouse sobre el contenedor */
}

@media (max-width: 1200px) {
    .content-container {
        padding: 0 4rem;
        padding-top: 3rem;
    }
}

/* ********** Components ********** */
/* ****** Sidebar Menu ****** */
#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
}

    #sidebar.expand {
        width: 16rem;
        min-width: 16rem;
    }

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
    color: black;
}

    .toggle-btn i {
        font-size: 1.5rem;
        color: #000;
    }

.sidebar-logo {
    margin: auto;
}


    .sidebar-logo a img {
        object-fit: contain;
        width: 70%;
        margin-left: 10%;
    }

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000;
    display: block;
    font-size: 1rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    margin-bottom: 1rem;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(0, 255, 0, .05);
    border-left: 5px solid #28a745;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #FFF;
    padding: 0;
    min-width: 15rem;
    display: none;
}

.sidebar-dropdown .sidebar-link {
    margin-bottom: 0px;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
    padding: 1rem 0px;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* ****** Top Menu ****** */
#notification-panel {
    min-width: 20rem !important;
    top: 125%;
    left: -18rem;
}

/* ****** Data Table ****** */
.table th, td{
    vertical-align: middle !important;
}

.page-link {
    background-color: seagreen !important;
    color: white
}

    .active > .page-link, .page-link.active {
        border-color: black !important;
    }

.dt-layout-table {
    padding: 1rem 0 !important;
}

tr {
    color: white !important;
    background-color: black !important;
}

/* ****** Loader ****** */
#loader {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
    background-color:rgb(0, 0, 0, 0.25);
}

/* ********** Utilities ********** */
.info-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.info-card {
    max-width: 25rem;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
}

    .info-card h4, h5 {
        margin-bottom: 1.5rem;
    }

.info-card-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
}

    .info-card-body label {
        width: 80%;
        margin-bottom: 0;
    }

    .info-card-body input {
        text-align: right;
    }

.info-card-body input[type=number]{
    text-align:center;
}

@media (min-width: 1235px) {
    #compensation-employee {
        position: relative;
        bottom: 11rem;
    }
}