@model DosPinos.HRMS.WebApp.Models.Employees.EditEmployeeViewModel;

<div class="info-card shadow">
    <h4 class="text-success fw-semibold">Información personal</h4>

    <form>
        <input type="hidden" class="form-control" asp-for="EmployeeObj.EmployeeId" readonly>

        <div class="info-card-body">
            <label class="form-label" asp-for="EmployeeObj.Identification">Identificación</label>
            <input type="text" class="form-control" asp-for="EmployeeObj.Identification" readonly>
        </div>

        <div class="info-card-body">
            <label asp-for="EmployeeObj.Name" class="form-label">Nombre</label>
            <input type="text" class="form-control" asp-for="EmployeeObj.Name" readonly>
        </div>

        <div class="info-card-body">
            <label asp-for="EmployeeObj.FirstLastName" class="form-label">Primer apellido</label>
            <input type="text" class="form-control" asp-for="EmployeeObj.FirstLastName" readonly>
        </div>


        <div class="info-card-body">
            <label asp-for="EmployeeObj.SecondLastName" class="form-label">Segundo apellido</label>
            <input type="text" class="form-control" asp-for="EmployeeObj.SecondLastName" readonly value="@(!string.IsNullOrEmpty(Model.EmployeeObj.SecondLastName) ? Model.EmployeeObj.SecondLastName : "--------")">
        </div>

        <div class="info-card-body">
            <label asp-for="EmployeeObj.OvertimeExcess" class="form-label">Horas extras laboradas</label>
            <input type="number" class="form-control" asp-for="EmployeeObj.OvertimeExcess" readonly>
        </div>

        <div class="info-card-body">
            <label class="form-label" asp-for="@Model.EmployeeObj.ManagerId">Jefe directo</label>
            <select class="form-select" asp-for="@Model.EmployeeObj.ManagerId" asp-items="@Model.Managers" readonly>
                <option selected value="0">No aplica</option>
            </select>
        </div>
    </form>
</div>