@model DosPinos.HRMS.WebApp.Models.Securities.LoginViewModel;

@{
    ViewData["Title"] = Model.Title;
    Layout = "_LayoutLogin";
}

<div id="form-nav" class="bg-success"></div>

<div class="shadow-lg py-5 text-center rounded-3" id="login_container">

    <h3 class="mb-4">Bienvenido a</h3>
    <img src="~/DosPinos.HRMS.Content/assets/images/logo.png" alt="logo" />

    <form asp-action="login" class="needs-validation" id="login_form" novalidate>

        <div class="col-8">
            <div class="form-floating">
                <input type="text" class="form-control" asp-for="@Model.UserObj.UserName" placeholder="110800458" required>
                <label asp-for="@Model.UserObj.UserName">Usuario</label>
            </div>
        </div>

        <div class="col-8 mb-5">
            <div class="form-floating">
                <input id="pass-input" type="password" class="form-control" asp-for="@Model.UserObj.Password" placeholder="****" required>
                <label asp-for="@Model.UserObj.Password">Contraseña</label>
                <i class="bi bi-eye" id="eye-password"></i>
            </div>
        </div>

        <div>
            <button class="btn btn-success" type="submit">Iniciar sesión</button>
        </div>
    </form>
</div>


@section Scripts{
    <script src="~/Dospinos.HRMS.Content/js/securities/login.js"></script>
}