@model DosPinos.HRMS.Entities.DTOs.Securities.LoginUserDTO;

@{
    ViewData["Title"] = "Inicio de sesión";
    Layout = "_LayoutLogin";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form asp-action="Login" method="post" class="d-flex flex-column needs-validation w-75" novalidate>
        <div class="col-md-4 m-auto mt-5">
            <label asp-for="@Model.UserName" class="form-label">Usuario</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" asp-for="@Model.UserName" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Escriba su usuario.
                </div>
            </div>
        </div>

        <div class="col-md-4 m-auto mt-5">
            <label asp-for="@Model.Password" class="form-label">Contraseña</label>
            <div class="input-group has-validation">
                <input type="password" class="form-control" asp-for="@Model.Password" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Escriba su contraseña.
                </div>
            </div>
        </div>

        <div class="m-auto mt-5">
            <button class="btn btn-primary" type="submit">Iniciar sesión</button>
        </div>
    </form>
</div>
