<aside id="sidebar" class="expand">

    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="bi bi-list"></i>
        </button>
        <div class="sidebar-logo">
            <a asp-action="Index" asp-controller="Dashboard"><img src="~/DosPinos.HRMS.Content/assets/images/logo.png" alt="Logo de la empresa DosPinos" /></a>
        </div>
    </div>

    <ul class="sidebar-nav">

        <li class="sidebar-item">
            <a asp-action="Index" asp-controller="Dashboard" class="sidebar-link">
                <i class="bi bi-columns-gap"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a asp-action="Index" asp-controller="Employee" class="sidebar-link">
                <i class="bi bi-people"></i>
                <span>Empleados</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#assistance" aria-expanded="false" aria-controls="assistance">
                <i class="bi bi-clock"></i>
                <span>Asistencia</span>
            </a>
            <ul id="assistance" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a asp-action="Index" asp-controller="WorkingDay" class="sidebar-link">Control de asistencia</a>
                </li>
                <li class="sidebar-item">
                    <a asp-action="Pending" asp-controller="WorkingDay" class="sidebar-link">Gestión de asistencia</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-item">
            <a class ="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#freeTime" aria-expanded="false" aria-controls="freeTimes">
                <i class="bi bi-airplane"></i>
                <span>Tiempo libre</span>
            </a>
            <ul id="freeTime" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a asp-action="Index" asp-controller="Vacation" class="sidebar-link">Tiempo libre</a>
                </li>
                <li class="sidebar-item">
                    <a asp-action ="Pending" asp-controller="Vacation" class="sidebar-link">Solicitudes pendientes</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-buildings"></i>
                <span>OEE</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a asp-action="Index" asp-controller="Liquidation" class="sidebar-link">
                <i class="bi bi-box-arrow-right"></i>
                <span>Liquidación</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a asp-action="Index" asp-controller="ChristmasBonus" class="sidebar-link">
                <i class="bi bi-gift"></i>
                <span>Aguinaldo</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a asp-action="Index" asp-controller="Payroll" class="sidebar-link">
                <i class="bi bi-coin"></i>
                <span>Nómina</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#maintenances" aria-expanded="false" aria-controls="maintenances">
                <i class="bi bi-tools"></i>
                <span>Mantenimiento</span>
            </a>
            <ul id="maintenance" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
            </ul>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#reports" aria-expanded="false" aria-controls="reports">
                <i class="bi bi-graph-up"></i>
                <span>Reportes</span>
            </a>
            <ul id="reports" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a asp-action="Vacation" asp-controller="Report" class="sidebar-link text-wrap">Reporte vacaciones</a>
                </li>
                <li class="sidebar-item">
                    <a asp-action="License" asp-controller="Report" class="sidebar-link text-wrap">Reporte incapacidades</a>
                </li>
                <li class="sidebar-item">
                    <a asp-action="SpecialPermission" asp-controller="Report" class="sidebar-link text-wrap">Reporte permisos especiales</a>
                </li>
                <li class="sidebar-item">
                    <a asp-action="Overtime" asp-controller="Report" class="sidebar-link text-wrap">Reporte exceso de horas extras</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-lock"></i>
                <span>Seguridad</span>
            </a>
        </li>        
    </ul>
</aside>