@using DosPinos.HRMS.Entities.Enums.Securities
@using DosPinos.HRMS.WebApp.Helpers
<aside id="sidebar" class="expand">

    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="bi bi-list"></i>
        </button>
        <div class="sidebar-logo">
            <a asp-action="Index" asp-controller="Dashboard"><img src="~/DosPinos.HRMS.Content/assets/images/logo.png" alt="Logo de la empresa DosPinos" /></a>
        </div>
    </div>

    <ul class="sidebar-nav">

        <li class="sidebar-item">
            <a asp-action="Index" asp-controller="Dashboard" class="sidebar-link">
                <i class="bi bi-columns-gap"></i>
                <span>Dashboard</span>
            </a>
        </li>

        @if (RoleHelper.HasAnyRole(User, (int)Roles.Headquarters, (int)Roles.Administrator, (int)Roles.HumanResources, (int)Roles.HumanResourcesAdministrator))
        {
            <li class="sidebar-item">
                <a asp-action="Index" asp-controller="Employee" class="sidebar-link">
                    <i class="bi bi-people"></i>
                    <span>Empleados</span>
                </a>
            </li>
        }


        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#assistance" aria-expanded="false" aria-controls="assistance">
                <i class="bi bi-clock"></i>
                <span>Asistencia</span>
            </a>
            <ul id="assistance" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a asp-action="Index" asp-controller="WorkingDay" class="sidebar-link">Control de asistencia</a>
                </li>
                @if (RoleHelper.HasAnyRole(User, (int)Roles.Headquarters, (int)Roles.Administrator))
                {
                    <li class="sidebar-item">
                        <a asp-action="ManageWorkingDay" asp-controller="WorkingDay" class="sidebar-link">Gestión de asistencia</a>
                    </li>
                }
            </ul>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#freeTime" aria-expanded="false" aria-controls="freeTimes">
                <i class="bi bi-airplane"></i>
                <span>Tiempo libre</span>
            </a>
            <ul id="freeTime" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a asp-action="Index" asp-controller="FreeTime" class="sidebar-link">Mis solicitudes</a>
                </li>
                @if (RoleHelper.HasAnyRole(User, (int)Roles.Headquarters, (int)Roles.Administrator, (int)Roles.HumanResources, (int)Roles.HumanResourcesAdministrator))
                {
                    <li class="sidebar-item">
                        <a asp-action="ManageApplication" asp-controller="FreeTime" class="sidebar-link">Gestión de solicitudes</a>
                    </li>
                }
            </ul>
        </li>

        @if (RoleHelper.HasAnyRole(User, (int)Roles.Headquarters, (int)Roles.Administrator))
        {
            <li class="sidebar-item">
                <a asp-action="Index" asp-controller="OEE" class="sidebar-link">
                    <i class="bi bi-buildings"></i>
                    <span>OEE</span>
                </a>
            </li>
        }

        @if (RoleHelper.HasAnyRole(User, (int)Roles.Administrator, (int)Roles.HumanResources, (int)Roles.HumanResourcesAdministrator))
        {
            <li class="sidebar-item">
                <a asp-action="Index" asp-controller="Liquidation" class="sidebar-link">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Liquidación</span>
                </a>
            </li>
        }

        @if (RoleHelper.HasAnyRole(User, (int)Roles.Administrator, (int)Roles.HumanResources, (int)Roles.HumanResourcesAdministrator))
        {
            <li class="sidebar-item">
                <a asp-action="Index" asp-controller="ChristmasBonus" class="sidebar-link">
                    <i class="bi bi-gift"></i>
                    <span>Aguinaldo</span>
                </a>
            </li>
        }


        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#payrolls" aria-expanded="false" aria-controls="payrolls">
                <i class="bi bi-coin"></i>
                <span>Nómina</span>
            </a>
            <ul id="payrolls" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                @if (RoleHelper.HasAnyRole(User, (int)Roles.Administrator, (int)Roles.HumanResourcesAdministrator))
                {
                    <li class="sidebar-item">
                        <a asp-action="Index" asp-controller="Payroll" class="sidebar-link text-wrap">Nómina actual</a>
                    </li>
                }
                <li class="sidebar-item">
                    <a asp-action="Index" asp-controller="PayrollReport" class="sidebar-link text-wrap">Reporte</a>
                </li>
            </ul>
        </li>

        @if (RoleHelper.HasAnyRole(User, (int)Roles.Administrator, (int)Roles.SystemAdministrator))
        {
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                   data-bs-target="#maintenances" aria-expanded="false" aria-controls="maintenances">
                    <i class="bi bi-tools"></i>
                    <span>Mantenimiento</span>
                </a>
                <ul id="maintenances" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a asp-action="Index" asp-controller="Deduction" class="sidebar-link text-wrap">Deducciones</a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Index" asp-controller="Holiday" class="sidebar-link text-wrap">Feriados</a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Index" asp-controller="IncomeTax" class="sidebar-link text-wrap">Impuestos</a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Index" asp-controller="SalaryCategory" class="sidebar-link text-wrap">Categoría salarial</a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Index" asp-controller="Machine" class="sidebar-link text-wrap">Máquinas</a>
                    </li>
                </ul>
            </li>
        }

        @if (RoleHelper.HasAnyRole(User, (int)Roles.Administrator, (int)Roles.Headquarters))
        {
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                   data-bs-target="#reports" aria-expanded="false" aria-controls="reports">
                    <i class="bi bi-graph-up"></i>
                    <span>Reportes</span>
                </a>
                <ul id="reports" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a asp-action="Vacation" asp-controller="Report" class="sidebar-link text-wrap">Reporte vacaciones</a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="License" asp-controller="Report" class="sidebar-link text-wrap">Reporte incapacidades</a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="SpecialPermission" asp-controller="Report" class="sidebar-link text-wrap">Reporte permisos especiales</a>
                    </li>
                    <li class="sidebar-item">
                        <a asp-action="Overtime" asp-controller="Report" class="sidebar-link text-wrap">Reporte exceso de horas extras</a>
                    </li>
                </ul>
            </li>
        }

        @if (RoleHelper.HasAnyRole(User, (int)Roles.Administrator, (int)Roles.SystemAdministrator))
        {
            <li class="sidebar-item">
                <a asp-action="Index" asp-controller="User" class="sidebar-link">
                    <i class="bi bi-lock"></i>
                    <span>Seguridad</span>
                </a>
            </li>
        }

    </ul>
</aside>