@model PendingWorkingDayViewModel;

@{
    ViewData["Title"] = "Jornadas Pendientes";
    var today = DateTime.Now.ToString("yyyy-MM-dd");
}

<div class="container">
    <h2>Jornadas laborales pendientes de aprobación</h2>
</div>